[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "*"
flake8 = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"

[packages]
boto3 = "*"
botocore = "*"
beautifulsoup4 = "*"
nltk = "*"
numpy = "*"
pandas = "*"
psycopg2 = "*"
pytz = "*"
tqdm = "*"
urllib3 = "*"
jsonlines = "*"
libsass = "*"
mojimoji = "*"
pypugjs = "*"
s3transfer = "*"
toml = "*"
torchtext = "*"
uWSGI = "*"
Flask = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
janome = "*"
torch = "==1.3.0"
torchvision = "*"

[requires]
python_version = "3.7"
