:lang(en) {
  font-family: 'Roboto', sans-serif;
}

:lang(ja) {
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
}

i.material-icons {
  font-family: 'Material Icons';
}

.navbar-dark {
  background-color: #15188a;
}

a.navbar-brand {
  color: #fff;
  font-family: 'Futura', 'Lato', 'Roboto', sans-serif;
}

td {
  border-bottom: 1px solid #dee2e6
}

main {
  padding-top: 50px;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

label.custom-control-label {
  margin-top: 0px;
  font-size: 16px;
}

input.form-control {
  height: 36.5px;
}

.table thead tr th {
  text-align: center;
  vertical-align: middle;
}

.table tbody tr td, .table thead tr td {
  vertical-align: middle;
}

td.article-id {
  text-align: center;
}

td.timestamp {
  text-align: center;
}

td.phase {
  text-align: center;
}

td.headline {
  text-align: left;
}

td.price {
  text-align: right;
}

table caption {
  color: #373a3c;
  text-align: center;
  caption-side: top;
}

canvas {
  margin-top: 36px;
}

.is-finished {
  color: #3b699f;

}

.indicator {
  text-align: center;
  font-size: 12px;
}

.positive {
  color: #ff0039;
}

.negative {
  color: #2780e3;
}

.message {
  font-weight: 300;
}

.method-name {
  font-family: 'Roboto Mono', monospace;
}

.ric {
  font-family: 'Roboto Mono', monospace;
}
