extends layout

block content
  .clearfix
    h1#heading
      | &nbsp;
    h2#subheading.mb-3
      | &nbsp;
    #datepicker.float-left
    canvas(id='.N225').float-right.mt-0(height="252", width="800")
  #other-graphs
    for ric in rics
      if ric != '.N225'
        canvas(id=ric).float-left.mt-0(height="252", width="360")


block append scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js', integrity='sha256-0prQxFtdWQNa3vW5JDMbvbBp6ehKzf9UIWqFGZIWPPE=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.min.js', integrity='sha256-RbE9ux8UbaKexk/+aT9XkZ8tcUWg3yw/3XE/S8iW7eI=', crossorigin='anonymous')

  script(type='text/javascript')
    | var minDate = new Date({{min_date * 1000}});
    | var maxDate = new Date({{max_date * 1000}});
    | var rics = {{rics_json}};
  script(src='/static/js/demo.js')

block append stylesheets
  link(href='https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css', rel='stylesheet', integrity='sha256-q0wZgzQ6Ru67x+pIe9IAztrnlHNHyZui3BMwqUYDnpI=', crossorigin='anonymous')
  style
    | #other-graphs canvas {
    |   margin-right: 10px;
    | }
