doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='shortcut icon', href='/static/favicon/favicon.ico')
    block stylesheets
      include stylesheets.pug
    title Market Reporter
  body
    include navbar.pug
    main
      .container
        block content
    block scripts
      include scripts.pug
