mixin navitem(item_title, name)
  li.nav-item(class={'active': item_title == title})
    a.nav-link(href="/#{item_title}")
      | #{name}
      if item_title == title
        span.sr-only (current)

nav.navbar.navbar-expand-lg.navbar-dark
  .container
    a.navbar-brand(href='/human-evaluation/list')
      img(src='/static/png/logo-webapp.png', height='36px')
    button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarColor01.navbar-collapse.collapse
      ul.navbar-nav.ml-auto
        +navitem('demo', 'Demo')
        +navitem('debug', 'Debug')
        +navitem('human-evaluation', 'Human Evaluation')
