nav.navbar.navbar-expand-lg.navbar-dark
  .container
    a.navbar-brand(href='/human-evaluation/list')
      img(src='/static/png/logo-webapp.png', height='36px')
    button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarColor01.navbar-collapse.collapse
      ul.navbar-nav.ml-auto
        if title == 'debug'
          li.nav-item
            a.nav-link(href='/human-evaluation') Human Evaluation
          li.nav-item.active
            a.nav-link(href='/debug')
              | Debug
              span.sr-only (current)
        else
          li.nav-item.active
            a.nav-link(href='/human-evaluation')
              | Human Evaluation
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/debug') Debug
